@use "sass:color";

$font-family-sans-serif: -apple-system, blinkmacsystemfont, "Segoe UI", roboto,
  "Helvetica Neue", arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;

$uoc-corporate: #000078;
$uoc-masterbrand: #73edff;
$uoc-bg: color.scale($uoc-masterbrand, $lightness: 70%);

$mqMinWidth: 420px;

$CV-corporate: #f6f6f6;
$CV-bg: #000;
$CV-content-bg: color.scale($CV-bg, $lightness: 20%);
$CV-strong: #ff6464;
$CV-link: #f00;
$CV-link-selected: #ab0000;
